body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	max-height: 100vh;
	width: 100vw;
	max-width: 100vw;
}

.product-container {
	font-family: "Roboto", sans-serif;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
	height: 85vh; /* Fit 80% of the viewport height */
	box-sizing: border-box;
	overflow: hidden; /* Ensure content doesn't spill out */
}

/* Product image */
.product-image {
	width: 100%; /* Maintain full width of its parent */
	aspect-ratio: 1; /* Ensures a square shape */
	background: #f8f8f8;
	border-radius: 8px;
	display: flex; /* Allows centering if needed */
	justify-content: center; /* Horizontal alignment */
	align-items: center; /* Vertical alignment */
	overflow: hidden;
}

.product-image img {
	width: 100%;
	height: 100%;
	object-fit: contain; /* Ensures the image fits inside without cropping */
	border-radius: 8px; /* Apply same radius to the image */
}

.product-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden; /* Prevent details from overflowing */
	padding: 10px;
	background: #fff;
	border-radius: 8px;
}

.product-details h1 {
	font-family: "Roboto", sans-serif;
	color: #364a63;
	margin: 0;
	margin-bottom: 0.8rem;
}

.product-rating {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}

.stars {
	color: #ffd700;
	font-size: 1.2rem;
	margin-right: 0.5rem;
}

.review-count {
	color: #999;
	font-size: 0.9rem;
}

.product-price {
	display: flex;
	align-items: center;
	margin-bottom: 0.6rem;
}

.original-price {
	font-size: 1rem;
	text-decoration: line-through;
	color: #999;
	margin-right: 0.5rem;
}

.discounted-price {
	font-size: 1rem;
	font-weight: bold;
}

.product-details .product-description {
	color: #8091a7;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.6;
}

.product-details .product-description p {
	margin: 0;
}

.product-vendor {
	display: grid;
	grid-template-columns: 90px 250px;
	margin-top: 0.3rem;
	max-width: 300px;
}

.product-vendor .first {
	line-height: 0.5;
}

.product-vendor .first p:first-child {
	color: #8091a7;
	font-size: 14px;
}

.product-vendor .first p:nth-child(2) {
	color: #364a63;
	font-weight: 700;
	font-size: 16px;
}

.product-vendor .second {
	line-height: 0.5;
}

.product-vendor .second p:first-child {
	color: #8091a7;
	font-size: 14px;
}

.product-vendor .second p:nth-child(2) {
	color: #364a63;
	font-weight: 700;
	font-size: 16px;
}

/* Color selector */
.color-selection {
	margin-bottom: 0.6rem;
}

.color-selection h3 {
	margin: 0;
	margin-top: 0.6rem;
	margin-bottom: 0.3rem;
}

.color-options {
	display: flex;
	gap: 0.6rem;
	margin: 0.4rem 0;
}

.color-option {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	cursor: pointer;
	outline: 2px solid transparent; /* Default border is transparent */
	transition: border-color 0.3s ease; /* Smooth transition for border changes */
}

.color-option.active {
	outline-offset: 2px;
}

/* Size selector */
.size-selection {
}

.size-selection h3 {
	color: #364a63;
	font-weight: 700;
	font-size: 24px;
	margin: 0;
	margin-top: 0.6rem;
	margin-bottom: 0.3rem;
}

.size-options {
	display: flex;
	gap: 10px;
	margin-bottom: 0.6rem;
}

.size-option {
	padding: 10px 18px;
	border: 1px solid #ddd;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 700;
	font-size: 20px;
	color: #364a63;
}

.size-option.active {
	background: #4f46e5;
	color: white;
}

.size-option .price {
	color: #8091a7;
	font-family: "Roboto";
	padding-left: 5px;
	font-weight: 400;
}

.product-bottom {
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
}

.quantity-selector {
	display: flex;
	align-items: center;
	border: 2px solid #dbdfea;
	border-radius: 0.25rem;
}

.decrement-btn,
.increment-btn {
	width: 3rem;
	height: 3rem;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: #f5f5f5;
	color: #8091a7;
	cursor: pointer;
}

.decrement-btn {
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

.increment-btn {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.counter-input {
	width: 4rem;
	height: 3rem;
	text-align: center;
	color: #364a63;
	border: none;
	font-size: 1rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-left: 2px solid #dbdfea;
	border-right: 2px solid #dbdfea;
}

.add-to-cart {
	margin-left: 1rem;
	padding: 1rem 1.5rem;
	background-color: #8b49ff;
	color: #fff;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
	font-family: "Roboto";
	font-weight: 700;
}

.favorite {
	margin-left: 0.5rem;
	padding: 0.75rem;
	background-color: #fff;
	cursor: pointer;
}

.favorite i {
	color: #8b49ff;
	font-size: 20px;
}

.favorite.active i {
	color: #8b49ff;
}

.checkout-float {
	margin-top: auto;
	margin-bottom: 1rem;
	background: #ffbb5a;
	color: #364a63;
	font-weight: 700;
	padding: 1rem 2rem;
	border-radius: 2rem;
	cursor: pointer;
}

.cart-count {
	background: #fff;
	color: #364a63;
	border-radius: 20%;
	padding: 2px 6px;
	font-size: 12px;
	margin-left: 5px;
	font-weight: 700;
}

/* Cart modal */
.cart-modal {
	width: 600px;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	padding: 3rem;
	border-radius: 8px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

.cart-modal h2 {
	font-size: 24px;
	margin-bottom: 0.8rem;
	color: #364a63;
	text-align: left;
}

.cart-table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

.cart-table thead {
}

.cart-table th {
	text-align: left;
	padding: 10px;
	font-weight: 400;
	font-size: 14px;
	color: #8091a7;
	border-bottom: 1px solid #dbdfea;
}

.cart-table td {
	padding: 10px;
	font-size: 14px;
	border-bottom: 1px solid #dbdfea;
	vertical-align: middle;
}

.cart-table td:nth-child(3),
.cart-table td:nth-child(4),
.cart-table td:nth-child(5) {
	font-size: 0.8em;
	font-weight: 700;
	color: #364a63;
}

.cart-table tbody tr:last-child td {
	border-bottom: none;
}
.cart-table thead th:last-child {
	text-align: right;
}
.cart-table tbody tr td:last-child {
	text-align: right;
}

.cart-table .item-column {
	display: flex;
	align-items: center;
	gap: 10px;
}

.cart-table .item-column img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 4px;
}

.cart-total {
	font-size: 1.4rem !important;
	font-weight: bold;
	margin-top: 20px;
	text-align: left;
	color: #333;
}

.cart-total-quantity {
	font-weight: 700;
}

#cartTotal {
	font-weight: 700;
	font-size: 1.2rem;
}

.cart-actions {
	display: flex;
	justify-content: end;
	gap: 1.3rem;
	margin-top: 20px;
}

#continueShoppingBtn,
#checkoutBtn {
	padding: 10px 20px;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 700;
}

#continueShoppingBtn {
	border: 2px solid #dbdfea;
	background-color: #fff;
	color: #333;
}

#checkoutBtn {
	background-color: #6576ff;
	color: #fff;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.658);
	z-index: 100;
	display: none; /* Hidden by default */
	cursor: pointer;
}

/* Show overlay when active */
.overlay.active {
	display: block;
}
